<div class="col-lg-4">
  <div class="card gradient-bottom">
    <div class="card-header">
      <h4>Top utilisateurs</h4>
     
    </div>
    <div class="card-body" id="top-5-scroll">
      <ul class="list-unstyled list-unstyled-border">

        <% User.all.sort_by {|u| u.ressources.size}.first(5).each do |user|%>
        <li class="media">
          <div class="media-body">
            <div class="float-right"><div class="font-weight-600 text-muted text-small"><%= user.ressources.size %> ressources</div></div>
            <div class="media-title"><%= user.username %></div>
          
          </div>
        </li>
        <% end %>
        
      </ul>
    </div>

  
  </div>
</div>
