<div class="col-lg-8">
  <div class="card">
    <div class="card-header">
      <h4>OpenRessources - Des ressources pour la communauté Openclassrooms</h4>
    </div>
    <div class="card-body">

		Salut ! Ici tu peux découvir des ressources postés par la communauté Openclassrooms, dans le but de t'aider à suivre le parcours <strong>Chef de Projet Digital</strong>
		<br>

		<br>

		<strong>N'hésites pas à poster des ressources pour aider ton prochain ! (Sharing is Caring)<br></strong>

		<br>

		<small>
		Le projet s'améliorera, et si il fonctionnes bien, on fera ça pour tout les parcours !
		</small>
    </div>
  </div>
</div>
