// Place all the styles related to the Ressources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.bootstrap-tagsinput {
	width: 100%;
	box-shadow: none!important;
	border-color: #e4e6fc;
}