<div class="navbar-bg"></div>
<nav class="navbar navbar-expand-lg main-navbar">
  <%#= render "dashboard/components/searchbar"  %>

  <div class="mr-auto"></div>

  <ul class="navbar-nav navbar-right">


    <li>
      <a href="/ressources/new" class="btn btn-dark text-light">
        Ajouter une ressource
      </a>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
      <img alt="image" src="../assets/img/avatar/avatar-1.png" class="rounded-circle mr-1">
      <div class="d-sm-none d-lg-inline-block">Hello, <%= user_signed_in? ? (current_user.username ? current_user.username : current_user.email) : "Visiteur" %></div></a>
      <div class="dropdown-menu dropdown-menu-right">
        <% if user_signed_in? %>
        <a href="features-profile.html" class="dropdown-item has-icon">
          <i class="far fa-user"></i> Profile
        </a>
        <a href="/" class="dropdown-item has-icon">
          <i class="fas fa-bolt"></i> Activité
        </a>

        <div class="dropdown-divider"></div>
      
         <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item has-icon text-danger" do %>
                  <i class="fas fa-sign-out-alt"></i> Se déconnecter
        <% end%>
        <% else %>

            <%= link_to new_user_session_path, class: "dropdown-item has-icon " do %>  
                <i class="fas fa-sign-in-alt"></i> Se connecter
            <% end %>
            <%= link_to new_user_registration_path, class: "dropdown-item has-icon" do %>  
                <i class="fas fa-sign-in-alt"></i> S'inscrire
            <% end %>


         <% end %>




      </div>
    </li>
  </ul>
</nav>
