<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="index.html">Ressources - CDP Digital</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="index.html">OpenRessources</a>
    </div>
      <div class="mt-4 hide-sidebar-mini">
        <a href="https://openclassrooms.com/fr/dashboard" class="btn btn-primary btn-lg btn-block btn-icon-split text-light">
          <i class="fas fa-rocket"></i> Retourner sur Openclassrooms
        </a>
      </div>

      <div class="mt-2 hide-sidebar-mini">
        <a href="https://openclassrooms.facebook.com/" class="btn btn-secondary btn-lg btn-block btn-icon-split">
          <i class="fas fa-code"></i> Workplace
        </a>
      </div>


    <ul class="sidebar-menu">

      <li class="nav-item dropdown">
          <a href="/" class="nav-link"><i class="fas fa-home"></i><span class="">Acceuil</span></a>
        </li>

        <li class="nav-item dropdown">
          <a href="/ressources" class="nav-link"><i class="fas fa-fire"></i><span class="">Toutes les ressources</span></a>
        </li>

        <li class="menu-header">Projets</li>
      
      <% Project.all.each do |project| %>
      <hr>
        <li class="mb-4 special-nav"> 
          <%= link_to (project), class: "nav-link" do %>
          <span><%= project.name %></span>
           <% end %>
        </li>
    
     <% end%>
        
      </ul>

    
  </aside>
</div>
